body {
    margin: 0px;
    font-family: 'Graphik', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.landingPage {
    font-family: 'Graphik', Arial, Helvetica, sans-serif;
    background-image: url("Homepage_Masthead_Test_DESKTOP_3200x1320-v4c_6.16.20.jpg");
    display: block;
}

.navbar {
    display: flex;
    flex-direction: column;
}

#nav {
    padding-top: 20px;
    padding-right: 30px;
    line-height: 24px;
    justify-content: space-between;
}

.login {
    align-items: flex-start;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 16.1px;
    list-style-type: none;
    text-align: right;
    color: #ffffff;
    padding: 23px 0px 17px;
    margin: 4px 0px;
    z-index: 1;
}

.ribbonEyebrow {
    color: #2dbd9d;
    font-size: 12px;
    font-weight: 600;
    gap: normal;
    letter-spacing: 0.5px;
    line-height: 13px;
    padding: 0px 0px 8px;
    text-align: center;
}

a:visited {
    color: inherit;
}

a:hover {
    opacity: 0.75;
}

a:active {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    text-decoration: none;
}

.container1 {
    width: 90%;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
}

.container2 {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: normal;
    justify-content: center;
    line-height: 20.8px;
    margin: 0px 160px;
    padding: 60px 80px;
    text-align: center;
}

.imageLogo {
    opacity: 1;
    flex-shrink: 0;
    vertical-align: middle;
    display: inline;
    z-index: 1;
}

.belowLogoText {
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
    line-height: 30px;
    margin: 16px 385px 0px;
    display: block;
    text-align: center;
    z-index: 1;
}

.secondaryHeading {
    width: 670px;
    height: 26px;
    color: #ffffff;
    gap: normal;
    line-height: 26px;
    margin: 20px 385px 0px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 100;
}

.buttonTrial {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 4px;
    color: #040505;
    font-size: 14px;
    font-weight: 600;
    gap: normal;
    line-height: 14px;
    padding: 0px 32px;
    text-align: center;
    width: 261px;
    height: 56px;
    letter-spacing: .5px;
}

.buttonTrial:hover {
    opacity: .75;
}

.headLegal {
    width: 536px;
    height: 16px;
    color: #ffffff;
    font-size: 10px;
    gap: normal;
    line-height: 16px;
    margin: 16px 452px 0px;
    text-align: center;
    opacity: .5;
}

.ribbon {
    height: 150px;
    width: 1920px;
    background-image: linear-gradient(318.68deg,#0F495C 0%,#0D3640 49.72%,#08141F 100%);
    color: #292b2c;
    gap: normal;
    line-height: 24px;
    padding: 25px 40px;
    text-align: center;
}

.row {
    width: 1520px;
    height: 100px;
    align-items: center;
    color: #292b2c;
    display: flex;
    flex-wrap: wrap;
    gap: normal;
    line-height: 24px;
    text-align: center;
    margin: 0px 16px;
}

.firstColumn {
    color: #292b2c;
    gap: normal;
    line-height: 24px;
    text-align: center;
    margin-left: 100px;
}

.secondColumn {
    width: 887px;
    height: 87px;
    color: #292b2c;
    flex-basis: 58.3333%;
    gap: normal;
    line-height: 24px;
    padding: 0px 8px 0px 30px;
    text-align: left;
    margin-left: 50px;
}

.thirdColumn {
    margin-top: 40px;
    margin-right: -100px;
}

.ribbonEyebrow2 {
    width: 849px;
    height: 21px;
    color: #2dbd9d;
    font-size: 12px;
    font-weight: 600;
    gap: normal;
    letter-spacing: 0.5px;
    line-height: 13px;
    padding: 0px 0px 8px;
    text-align: left;
}

.ribbonDetails {
    width: 849px;
    height: 61px;
    line-height: 24px;
    margin: 5px 0px 0px;
    text-align: left;
}

.infoDetails {
    color: #ffffff;
    display: inline;
    font-size: 24px;
    gap: normal;
    line-height: 32px;
    text-align: left;
}

.moreDetails {
    color: #ffffff;
    display: inline;
    font-size: 14px;
    gap: normal;
    line-height: 15px;
    opacity: .75;
    text-decoration: underline;
}

.buttonItem {
    width: 145px;
    height: 56px;
    align-items: flex-start;
    border: solid 2px #ffffff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    padding: 0px 20px;
    text-align: center;
}

.button {
    align-items: flex-start;
    border-color: #ffffff;
    border-radius: 4px;
    border: #ffffff solid 2px;
    font-size: 14px;
    font-weight: 600;
    gap: normal;
    letter-spacing: 1px;
    line-height: 14px;
    padding: 0px 20px;
    text-align: center;
}

.mediaContainer {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.imageContainer {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    box-sizing: inherit;
    display: block;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    vertical-align: middle;
    border-style: none;
    text-align: center;
}

/* .buttonTerms {
    width: 145px;
    height: 24px;
    color: #292b2c;
    gap: normal;
    line-height: 24px;
    text-align: center;
} */

/* .plansContainer .planHeadColumn h3 {
    color: #292c33;
    font-size: 28px;
    font-weight: bold;
    line-height: 31px;
    text-align: center;
    margin-bottom: 12px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
}

.plans {
    background-color: #fff;
    position: relative;
    padding-bottom: 40px;
    width: 1450px;
    height: 1006px;
    margin: 0;
    padding-bottom: 40px;
}

/* div {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
} */

/* .planFeatureCheck0 {
    width: 244px;
    height: 24px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.planFeatureBullet {
    width: 21px;
    height: 16px;
    margin: 0;
    padding: 0;
    display: inline-flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

.planFeatureSeparator {
    width: 1px;
    height: 20px;
    background: #EDEFF2;
}

.plansContainer {
    background-color: #fff;
    color: #292C33;
    font-family: Graphik;
    position: relative;
    margin-left: 237px;
    margin-right: 237px;
    padding: 0;
    height: 966px;
    width: 976px;
}

.planHeadContainer {
    width: 976px;
    height: 205px;
}

.planFeature {
    width: 976px;
    height: 585px;
    padding: 0;
    margin: 0;
}

.planFeatureItem {
    width: 976px;
    height: 64px;
    border-bottom: 1px solid #EDEFF2;
}

.planFeatureTitle {
    width: 488px;
    height: 24px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.plansDisclaimerContainer {
    width: 976px;
    height: 106px;
}

.plansContainerFeatureContainer {
    width: 976px;
    height: 29px;
}
.planHeadColumn {
    width: 488px;
    display: block;
    height: 205px;
    padding: 40px 0;
    border-bottom: 1px solid #EDEFF2;
}

.colOneDescript {
    width: 435px;
    height: 48px;
    text-align: left;
    max-width: 30vw;
    margin: 0;
}

.planHeadCardEyebrow {
    width: 235px;
    height: 13px;
    line-height: 13px;
}

.planHeadCardTitle {
    width: 228px;
    height: 31px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.planHeadCardPrice {
    width: 228px;
    height: 24px;
}

.planHeadButton {
    width: 228px;
    height: 48px;
    padding: 0;
    margin-top: 16px;
}

.planButton {
    width: 108.234px;
    height: 48px;
    margin: 0;
    padding-right: 32px;
    padding-left: 32px;
} */

/* MAY NEED TO FIX THIS ONE? */
/* .planHeadLive { 
    width: 228px;
    height: 172px;
    padding-top: 32px;
    padding-right: 8px;
    padding-left: 8px;
    border-bottom: 1px solid #EDEFF2;
} */



.terms {
    color: #ffffff;
    display: inline;
    font-size: 10px;
    gap: normal;
    line-height: 15px;
    text-align: center;
    opacity: .75;
    text-decoration: underline;
}

h2 {
    font-size: 32px;
    font-weight: 100;
    line-height: 40px;
    margin: 0 0 16px;
    color: #1e1e1e;
}

h3 {
    font-size: 12px;
    box-sizing: inherit;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    color: #656B7B;
    line-height: 1.5;
    font-weight: bold;
}

/* #social {
    width: 169px;
    height: 32px;
    color: #656B7B;
    font-size: 12px;
    line-height: 32px;
    text-align: left;
} */

.socialLegal {
    margin: 0 42px 32px 0;
    min-width: fit-content;
    white-space: nowrap;
    display: block;
    font-size: 12px;
    line-height: 32px;
    text-align: left;
    color: #656B7B;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.socialHorizontal {
    box-sizing: inherit;
    display: block;
    white-space: nowrap;
    font-size: 12px;
    line-height: 32px;
    text-align: left;
    color: #656B7B;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

#fB, #tW, #yT{
    padding-right: 32px;
    white-space: nowrap;
    font-size: 12px;
    line-height: 32px;
    text-align: left;
    font-weight: 400;
    width: 18px;
    height: 12px;
    cursor: pointer;
}

#iG {
    padding-right: 0;
    white-space: nowrap;
    font-size: 12px;
    line-height: 32px;
    text-align: left;
    font-weight: 400;
    cursor: pointer;

}

.legalHorizontal {
    min-width: 696px;
	list-style: none;
    padding-top: 20px;
}

.footerBrowse {
    text-align: left;
    color: #656B7B;
    box-sizing: inherit;
    display: block;
}

.browse {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: .5rem;
    padding-left: .5rem;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    display: block;
    text-align: left;
    color: #656B7B;
}

.browseTwo, .browseThree, .browseFour {
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    text-align: left;
    color: #656B7B;
}

.headerBrowse {
    font-size: 12px;
    font-weight: 500;
    box-sizing: inherit;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    color: #656B7B;
    -webkit-font-smoothing: antialiased;
}

.about {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: .5rem;
    padding-left: .5rem;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    display: block;
    text-align: left;
    color: #656B7B;
    font-size: 1rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.help {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: .5rem;
    padding-left: .5rem;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    display: block;
    text-align: left;
    color: #656B7B;
}

.headerHelp {
    font-size: 12px;
    font-weight: 500;
    box-sizing: inherit;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    color: #656B7B;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.headerAbout {
    font-size: 12px;
    font-weight: 500;
    box-sizing: inherit;
    display: block;
    text-align: left;
    color: #656B7B;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.browse2 {
    display: block;
    padding-bottom: 8px;
    font-size: 14px;
    text-decoration: none;
    color: #656B7B;
    cursor: pointer;
    text-align: left;
}

.callToAction {
    width: 100%;
    position: relative;
    display: block;
}

.containerCallToAction {
    padding-bottom: 0px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 140px;
    padding-right: 140px;
}

.watchThousands {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 16px;
    color: #1e1e1e;
    box-sizing: inherit;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.style {
    position: absolute;
    top: 25%;
    left: 0;
    background: #FFF;
    display: block;
    width: 100%;
    height: 75%;
    z-index: -1;
    color: #5E6573;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    height: 100%;
}

.watchThousandsAndButton {
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: .5rem;
    padding-left: .5rem;
    flex-basis: 50%;
    max-width: 50%;
    display: block;
}

.button {
    justify-content: flex-start;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Graphik',Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    -webkit-font-smoothing: antialiased;
    border: none;
    margin-left: -20px;
}

.buttonText {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Graphik', Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: none;
    line-height: 60px;
}

.buttonTrial2 {
    transform: translateY(0);
    transition: box-shadow 0.2s ease,transform 0.1s ease;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background: #040505;
    height: 56px;
    min-width: 136px;
    padding: 0 32px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    display: inline-block;
    align-items: flex-start;
    font: 400 13.3333px Arial;
    -webkit-font-smoothing: antialiased;
}

.cellPhoneImage {
    text-align: left;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: .5rem;
    padding-left: .5rem;
    flex-basis: 50%;
    max-width: 50%;
}

/* .cellInner {
    text-align: left;
    box-sizing: inherit;
    min-height: unset;
    opacity: 1;
    max-width: 496px;
    max-height: 422px;
    display: block;
    width: 100%;
    height: auto;
    object-fit: scale-down;
    transition: opacity 0.3s;
    vertical-align: middle;
    border-style: none;
} */

.phoneImage {
    text-align: left;
    box-sizing: inherit;
    min-height: unset;
    opacity: 1;
    max-width: 496px;
    max-height: 422px;
    display: block;
    width: 100%;
    height: auto;
    object-fit: scale-down;
    transition: opacity 0.3s;
    vertical-align: middle;
    border-style: none;
}

.legal a:hover {
    color: #3370BB;
    text-decoration: none;
    list-style-type: none;
    -webkit-text-decoration: none;
}

a:visited a:link {
    text-decoration: none;
    color: #656B7B;
    -webkit-text-decoration: none;
}

.legal {
    display: inline;
    padding: 10px;
    font-size: 12px;
}

.containerFooter {
    flex: 1 1 0;
    flex-shrink: 0;
    width: 100%;
    box-sizing: inherit;
    display: block;
    background-color: #EBEDF2;
}

.containerFooterSub {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 140px;
    padding-right: 140px;
    display: block;
    font-size: 14px;
}

.footer {
    border-top: 2px solid #DCDFE6;
    padding: 32px 0 0 0;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    line-height: 32px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: left;
    color: #656B7B;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.body {
    color: #5E6573;
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: inherit;
    display: block;
    font-weight: 100;
}

.footerRow {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    color: #656B7B;
}

.footerRowSection {
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    text-align: left;
    color: #656B7B;
}